---
import Layout from "../components/Layout.astro";
import banner from "../img/banner-1.jpg";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import { getImage } from "astro:assets"; // Background Image
import myImage from "../img/banner-1.jpg";
const optimizedBackgroundImage = await getImage({ src: myImage });
---

<Layout>
	<div class="container top">
		<div class="flex">
			<div><Image src={banner} alt="Banner Image" /></div>
			<div>
				<Picture
					src={banner}
					formats={["avif", "webp"]}
					quality=""
					alt="Banner Image"
				/>
			</div>
			<div
				class="background-img"
				style={`background-image: url('${optimizedBackgroundImage.src}')`}
			>
			</div>
		</div>
	</div>
</Layout>

<style>
	.flex > div {
		flex: 1 1 0;
	}
	.background-img {
		padding-bottom: 10%;
		background-size: cover;
		width: 100%;
	}
</style>
