---
import Layout from "../components/Layout.astro";
const pageTitle = "The Diamond Rental Living - Suites";
import { Image } from "astro:assets";
import svgDiamondIcon from "../img/diamond.svg";

import { getImage } from "astro:assets";
import bannerBg from "../img/banner-suites.jpg";
const bannerBgImage = await getImage({ src: bannerBg });
---

<Layout {pageTitle}>
	<section class="reveal-container" style={`background-image: url('${bannerBgImage.src}')`}>
		<Image src={svgDiamondIcon} class="reveal" loading="eager" alt="The Diamond icon" />
	</section>

	<section class="container top bottom">
		<div class="grid-container">
			<div class="grid-x grid-padding-x align-middle">
				<div class="cell small-18">
					<h1>Suites</h1>
					<p>Suites iFrame goes here:</p>
					<iframe title="suite application" src="https://junctionrentals.ca" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	iframe {
		width: 100%;
		min-height: 800px;
	}
</style>
